body {
  background: black;
}

.thing {
  width: 4em;
  height: 4em;
  background: purple;
  border-radius: 0.5em;
  margin: 1em;
}

#box {
  background: yellow;
  min-height: 20em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}